body {
    font-size: medium;
    color: blue;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-star
}

.centre {
    color: orangered;
    text-decoration: dashed;
    border: 2px solid black;
    padding: 20px;
}

.centre:hover {
    color: darkgreen;
    text-decoration: underline;
}

@media(min-width: 700px) {
    .centre-text {
        text-align: center;
        margin-left: 500px;
        margin-top: 200px;
    }
}

.centre-text {
    text-align: center;
    /*margin-left: 500px;
    margin-top: 200px;*/
}

.centre-links {
    display: flex;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}